.container {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0px !important;
  justify-content: space-between !important;
}

.droppable {
  padding: 5px;
  width: 260px;
  min-height: 500px;
  text-align: center;
}

.draggable {
  user-select: none;
  padding: 20px;
  height: 100px;
  margin: 20px;
  /* margin: 0 0 7pc 0; */
  min-height: "50px";
  color: white;
  text-align: center;
}
